.grid{
  display:grid;

  /*4 Times, 1 fraction*/
  grid-template-columns: repeat(3, 1fr);
/*
grid-template-columns: 1fr 2fr 1fr;

  grid-template-columns: 70% 30%;

  grid-column-gap:1em;
  grid-row-gap:1em;
  */
  grid-gap:1em;
  /* grid-auto-rows:100px; grid rows auto width*/

/*stretch whole row to fit content, 100px by default*/
  grid-auto-rows: minmax(100px, auto);
}

.nested{
  display:grid;
  grid-template-columns:repeat (3, 1fr):
}

.wrapper > div{
  background:#eee;
  padding;1em;
}

.wrapper > div:nth-child(odd){
  background:#ddd;
}

.nested > div{
  border:#333 1px solid;
}

.grid > div{
background-color:#eee;
padding:1em;
}

.grid > div:nth-child(odd){
background-color:#ddd;
}
